<!--<app-treemap (select)="selectIndustry($event)"></app-treemap>-->
<app-treemap [noSelect]="true"></app-treemap>
<div #container id="container">
  <div id="tooltip">
    <p class="title"></p>
    <p class="year"></p>
    <p class="content_1"></p>
    <p class="content_2"></p>
    <p class="content_3"></p>
  </div>
</div>

<div style="margin-top:30px;height: 50px">
  <div>
    <div class="slider-bar" style="display: inline-block;width: 800px;padding-left: 30px;padding-right: 30px">
      <nouislider [step]="1" [min]="1991" [max]="2016" [tooltips]="true" [(ngModel)]="selectYear" (ngModelChange)="yearChange($event)"></nouislider>
    </div>
    <button (click)="playAndPause()" style="display: inline-block;width: 60px;position: absolute;margin-top: 8px">{{playSub?'Pause':'Play'}}</button>
    <!--<input [(ngModel)]="selectYear" type="number" style="display: inline-block;width: 70px;position: absolute;margin-top: 7px">-->
  </div>
</div>
