/* You can add global styles to this file, and also import other style files */

@import "~nouislider/distribute/nouislider.min.css";

* {
  font-family: 微軟正黑體
}

/* Treemap Style */
.node circle {
  stroke: steelblue;
  stroke-width: 3px;
  cursor: pointer;
}

.node text {
  font: 14px 微軟正黑體, sans-serif;
  cursor: pointer;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
/* End of Treemap Style */

.axis {
  color: #666666;
  font-size: 14px;
  font-family: 微軟正黑體;
  font-weight: bolder;
}
